.section-root {
    padding: var(--spacing-md) var(--spacing-md);
    margin: 0;
}

.section-content {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 var(--spacing-md);
}

.grid {
    display: grid;
    gap: var(--spacing-md);
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .grid--2-cols,
    .grid--3-cols {
        grid-template-columns: 1fr;
    }
}