body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #DCE5DC;
}

header {
  background-color: #a4a8c5;
  color: white;
  text-align: center;
  padding: 3rem;
}

.logo img {
  width: 80%;
}

.main {
  padding: 1rem;
}

.cta {
  background-color: #C7CFD9;
  color: #000000;
  padding: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.ratings {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.listing {
  background-color: #BACBBB;
  border: 0px solid #000000;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.25rem;
  width:100%;
  max-width: fit-content;
  min-width: 300px;
  text-align: center;
}

.listing img {
  width: 80%;
  height: auto;
}

.textblock {
  text-align: left;
  padding: 2rem;
}
